import(survival)
useDynLib(CoxBoost,find_best,find_best01,find_best_candidate)

export(CoxBoost,cv.CoxBoost,optimCoxBoostPenalty,optimStepSizeFactor,estimPVal)
S3method(predict,CoxBoost)
S3method(print,CoxBoost)
S3method(summary,CoxBoost)
